<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une catégorie</title>
</head>
<body>
<h1>Ajouter une catégorie</h1>

<form th:action="@{/categories/add}" th:object="${categorie}" method="post">
    <label>Nom :</label>
    <input type="text" th:field="*{nom}" required />
    <br>
    <label>Description :</label>
    <input type="text" th:field="*{description}" required />
    <br>
    <button type="submit">Enregistrer</button>
</form>

<a th:href="@{/categories}">Retour à la liste</a>
</body>
</html>
