<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>
<div th:replace="fragments/layout :: body(~{::section})">
    <section>
        <h2>Ajouter une recette</h2>
        <form th:action="@{/recettes/add}" th:object="${recette}" method="post" class="mt-4">
            <div class="mb-3">
                <label class="form-label">Nom :</label>
                <input type="text" th:field="*{nom}" class="form-control" required />
                <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Ingrédients :</label>
                <textarea th:field="*{liste_Ingredients}" rows="3" class="form-control" required></textarea>
                <div th:if="${#fields.hasErrors('liste_Ingredients')}" th:errors="*{liste_Ingredients}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Instructions :</label>
                <textarea th:field="*{instructions}" rows="4" class="form-control" required></textarea>
                <div th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Catégorie :</label>
                <select th:field="*{categorie}" class="form-select" required>
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.nom}"></option>
                </select>
                <div th:if="${#fields.hasErrors('categorie')}" th:errors="*{categorie}" class="text-danger"></div>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </section>
</div>
</body>
</html>
