/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 30px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f2f8f9;
  padding: 30px;
}
fieldset {
  background-color: #f2f8f9;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom:;
  border-radius: 8px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

legend {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em 0 0.7em 0;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
  width: 30%;
  padding: 8px;
  margin-top: 2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  display: block;
}

button:hover {
  background-color: #0056b3;
}

.erreur {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
