body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #136a8a;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

fieldset {
    background-color: #f2f8f9;
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.choice > label {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}
.choice > label > input {
  width: fit-content;
    margin-left: 15px;
}


.choice input[type="radio"],
.choice input[type="checkbox"] {
    margin-right: 8px;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #136a8a;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.checkbox-radio {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.checkbox-radio label {
    font-weight: normal;
}

button {
    padding: 15px;
    font-size: 1rem;
    background-color: #136a8a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0f566f;
}
