/* src/App.css */

.pokedex-card {

  /* Centrer la carte */
  margin: 2rem auto;
  
  
  /* Styles carte */
  border: 1px solid cornflowerblue;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  background-color: #f0f8ff;
}

/* Bouton favori */

.favoriteButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 5px;
}

/* Dans Pokedex.module.css, ajoute : */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
